Repository robinrodricks/FluentStorage: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration.yml, azure-pipelines.yml

azure-pipelines-integration.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - task: gittools.gitversion.gitversion-task.GitVersion@4
    displayName: GitVersion
    inputs:
      preferBundledVersion: false
  - task: DotNetCoreCLI@2
    displayName: build
    inputs:
      projects: test/Storage.Net.Tests.Integration
      arguments: -c debug
  ...

azure-pipelines.yml:
  stages:
  - stage: Build
    jobs:
    - job: Core
      pool:
        vmImage: $(vmImage)
      steps:
      - script: echo "##vso[build.updatebuildnumber]$(pv)"
      - task: DotNetCoreCLI@2
        displayName: Unit Tests
        continueOnError: true
        inputs:
          command: test
  ...

fix branch
  README.md
Due: none

sections, docs
  README.md
Due: none

move to wiki
  doc/blobs.md
  doc/keyvalue.md
  doc/messaging.md
  doc/sinks.md
Due: azure-pipelines-integration.yml

move to wiki
  doc/blobs/awss3.md
  doc/blobs/azure.md
  doc/blobs/databricks.md
  doc/comic-why.png
  doc/storage.png
Due: azure-pipelines-integration.yml

fix github files
  .github/FUNDING.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: azure-pipelines-integration.yml

add tentative packages
  README.md
Due: none

add doc links and updated package list
  README.md
Due: none

fix table
  README.md
Due: none

add doc labels
  README.md
Due: none

bump AWS package versions to latest
  FluentStorage.AWS/FluentStorage.AWS.csproj
Due: azure-pipelines-integration.yml, azure-pipelines.yml

rename azure folders
  FluentStorage.Azure.Blobs/AccountSasPermission.cs
  FluentStorage.Azure.Blobs/AccountSasPolicy.cs
  FluentStorage.Azure.Blobs/AzConvert.cs
  FluentStorage.Azure.Blobs/AzureBlobStorage.cs
  FluentStorage.Azure.Blobs/AzureContainerBrowser.cs
  FluentStorage.Azure.Blobs/AzureDataLakeStorage.cs
  FluentStorage.Azure.Blobs/AzureStorageLease.cs
  FluentStorage.Azure.Blobs/BlobSasPermission.cs
  FluentStorage.Azure.Blobs/BlobSasPolicy.cs
  FluentStorage.Azure.Blobs/Constants.cs
  FluentStorage.Azure.Blobs/ContainerPublicAccessType.cs
  FluentStorage.Azure.Blobs/ContainerSasPermission.cs
  FluentStorage.Azure.Blobs/ContainerSasPolicy.cs
  FluentStorage.Azure.Blobs/ExtendedSdk.cs
  FluentStorage.Azure.Blobs/Factory.cs
  FluentStorage.Azure.Blobs/FluentStorage.Azure.Blobs.csproj
  FluentStorage.Azure.Blobs/Gen2/DateTimeConverterUsingDateTimeParse.cs
  FluentStorage.Azure.Blobs/Gen2/Model/AccessControl.cs
  FluentStorage.Azure.Blobs/Gen2/Model/AclEntry.cs
  FluentStorage.Azure.Blobs/Gen2/Model/Filesystem.cs
  FluentStorage.Azure.Blobs/Gen2/Model/FilesystemList.cs
  FluentStorage.Azure.Blobs/Gen2/Model/Gen2Path.cs
  FluentStorage.Azure.Blobs/Gen2/Model/ObjectType.cs
  FluentStorage.Azure.Blobs/Gen2/Model/PathList.cs
  FluentStorage.Azure.Blobs/IAzureBlobStorage.cs
  FluentStorage.Azure.Blobs/IAzureDataLakeStorage.cs
  FluentStorage.Azure.Blobs/Module.cs
  FluentStorage.Azure.Blobs/OffsetSasPolicy.cs
  FluentStorage.Azure.Files/AzConvert.cs
  FluentStorage.Azure.Files/AzureFilesBlobStorage.cs
  FluentStorage.Azure.Files/AzureFilesFactory.cs
  FluentStorage.Azure.Files/FluentStorage.Azure.Files.csproj
  FluentStorage.Azure.Files/Module.cs
  FluentStorage.sln
Due: azure-pipelines-integration.yml, azure-pipelines.yml

add SFTP support using Renci.Ssh
  FluentStorage.FTP/ConnectionFactory.cs
  FluentStorage.FTP/Factory.cs
  FluentStorage.FTP/FluentFtpBlobStorage.cs
  FluentStorage.SFTP/ConnectionFactory.cs
  FluentStorage.SFTP/Factory.cs
  FluentStorage.SFTP/FluentStorage.SFTP.csproj
  FluentStorage.SFTP/SshNetSftpBlobStorage.cs
  FluentStorage.sln
  README.md
Due: azure-pipelines-integration.yml, azure-pipelines.yml

organize assets
  .github/blobs-interfaces.svg
  .github/providers.svg
  .github/sinks-memory.svg
  .github/storagenet.vsdx
  .github/storagetypes.svg
Due: azure-pipelines-integration.yml

bump FluentFTP to v44
  FluentStorage.FTP/Factory.cs
  FluentStorage.FTP/FluentFtpBlobStorage.cs
  FluentStorage.FTP/FluentStorage - Backup.FTP.csproj
  FluentStorage.FTP/FluentStorage.FTP.csproj
Due: azure-pipelines-integration.yml, azure-pipelines.yml

update code style
  .editorconfig
Due: azure-pipelines-integration.yml, azure-pipelines.yml

fix img
  README.md
Due: none

update code style
  FluentStorage.FTP/FluentFtpBlobStorage.cs
  FluentStorage.SFTP/SshNetSftpBlobStorage.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

comments
  FluentStorage/Blobs/Blob.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

+What's New
  README.md
Due: none

reorder readme
  README.md
Due: none

+wiki
  README.md
Due: none

improve nuget info
  FluentStorage.AWS/FluentStorage.AWS.csproj
  FluentStorage.Azure.Blobs/FluentStorage.Azure.Blobs.csproj
  FluentStorage.Azure.DataLake.Store/FluentStorage.Azure.DataLake.csproj
  FluentStorage.Azure.EventHub/FluentStorage.Azure.EventHub.csproj
  FluentStorage.Azure.Files/FluentStorage.Azure.Files.csproj
  FluentStorage.Azure.KeyVault/FluentStorage.Azure.KeyVault.csproj
  FluentStorage.Azure.Queues/FluentStorage.Azure.Queues.csproj
  FluentStorage.Azure.ServiceBus/FluentStorage.Azure.ServiceBus.csproj
  FluentStorage.Azure.ServiceFabric/FluentStorage.Azure.ServiceFabric.csproj
  FluentStorage.Databricks/FluentStorage.Databricks.csproj
  FluentStorage.FTP/FluentStorage.FTP.csproj
  FluentStorage.GCP/FluentStorage.GCP.csproj
  FluentStorage.SFTP/FluentStorage.SFTP.csproj
  FluentStorage/FluentStorage.csproj
  README.md
Due: azure-pipelines-integration.yml, azure-pipelines.yml

first release v5.0.0
  README.md
Due: none

first release notes 5.0.0
  RELEASES.md
Due: azure-pipelines-integration.yml, azure-pipelines.yml

rm checklist
  .github/PULL_REQUEST_TEMPLATE.md
Due: azure-pipelines-integration.yml

rewrite readme and link to docs
  README.md
Due: none

add provider icons
  .github/providers/aws-s3.png
  .github/providers/aws-sqs.lnk
  .github/providers/azure-blob-block.png
  .github/providers/azure-blob-file.png
  .github/providers/azure-data-lake.png
  .github/providers/azure-event-hub.png
  .github/providers/azure-key-vault.png
  .github/providers/azure-queue-storage.png
  .github/providers/azure-service-bus.png
  .github/providers/azure-service-fabric.png
  .github/providers/databricks.png
  .github/providers/gcp.png
Due: azure-pipelines-integration.yml

add ftp icons
  .github/providers/ftp.png
  .github/providers/raw.png
  .github/providers/sftp.png
Due: azure-pipelines-integration.yml

update icons
  .github/providers/aws-sqs.lnk
  .github/providers/aws-sqs.png
Due: azure-pipelines-integration.yml

update icons
  .github/providers/local.png
Due: azure-pipelines-integration.yml

add service icons
  README.md
Due: none

update aws
  .github/providers/aws.png
  README.md
Due: azure-pipelines-integration.yml

Update README.md
  README.md
Due: none

reorder
  README.md
Due: none

Path conditions:
  azure-pipelines-integration.yml: any file but: README.md
  azure-pipelines.yml: any file but: README.md, doc, .github
