Repository robinrodricks/FluentStorage: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration.yml, azure-pipelines.yml

azure-pipelines-integration.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - task: gittools.gitversion.gitversion-task.GitVersion@4
    displayName: GitVersion
    inputs:
      preferBundledVersion: false
  - task: DotNetCoreCLI@2
    displayName: build
    inputs:
      projects: test/Storage.Net.Tests.Integration
      arguments: -c debug
  ...

azure-pipelines.yml:
  stages:
  - stage: Build
    jobs:
    - job: Core
      pool:
        vmImage: $(vmImage)
      steps:
      - script: echo "##vso[build.updatebuildnumber]$(pv)"
      - task: DotNetCoreCLI@2
        displayName: Unit Tests
        continueOnError: true
        inputs:
          command: test
  ...

rename section
  README.md
Due: none

Update README.md
  README.md
Due: none

reorder
  README.md
Due: none

rm unused
  .github/contributors.png
  README.md
Due: azure-pipelines-integration.yml

add docs
  README.md
Due: none

check if file exists before creating in CreateFolderAsync
  FluentStorage/Blobs/BlobStorageExtensions.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

+data transformation
  README.md
Due: none

Revert "rm unused"
  .github/contributors.png
  README.md
Due: azure-pipelines-integration.yml

fix issues with image
  README.md
Due: none

add arch diagrams
  .github/arch-with.png
  .github/arch-without.png
  .github/providers/azure.png
Due: azure-pipelines-integration.yml

add arch images
  README.md
Due: none

add arch and benefits
  README.md
Due: none

S3 Server side filtering via Fileprefix. closes #9
  FluentStorage.AWS/Blobs/AwsS3DirectoryBrowser.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

feat(messaging) : add implementation for `LocalDiskMessenger.StartProcessorAsync`
  FluentStorage/Messaging/Files/LocalDiskMessenger.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

feat(messaging) : add implementation for `LocalDiskMessenger.StartProcessorAsync`
  FluentStorage.Tests/FluentStorage.Tests.csproj
  FluentStorage.Tests/Messaging/LocalDiskMessagingTest.cs
  FluentStorage/Messaging/Files/LocalDiskMessenger.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

chore(deps): update `xunit` dependencies
  FluentStorage.Tests/FluentStorage.Tests.csproj
  FluentStorage.Tests/Messaging/LocalDiskMessagingTest.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

removed unused dependencies added `Microsoft.NET.Test.Sdk` in order to be able to run
  FluentStorage.Tests/FluentStorage.Tests.csproj
  FluentStorage.Tests/Messaging/LocalDiskMessagingTest.cs
  FluentStorage/FluentStorage.csproj
  FluentStorage/Messaging/Files/LocalDiskMessenger.cs
  RELEASES.md
Due: azure-pipelines-integration.yml, azure-pipelines.yml

chore(deps) : update Moq to 4.18.4
  FluentStorage.Tests/FluentStorage.Tests.csproj
Due: azure-pipelines-integration.yml, azure-pipelines.yml

fix(ftp) : append parameter is not taken into account by FTP storage implementation
  FluentStorage.FTP/FluentFtpBlobStorage.cs
  FluentStorage.Tests.FTP/FluentStorage.Tests.FTP.csproj
  FluentStorage.Tests.FTP/FtpFixture.cs
  FluentStorage.Tests.FTP/FtpTest.cs
  FluentStorage.Tests.FTP/Usings.cs
  FluentStorage.Tests.Integration/FluentStorage.Tests.Integration.csproj
  FluentStorage.Tests.Integration/Trio/BlobTest.Variations.cs
  FluentStorage.sln
Due: azure-pipelines-integration.yml, azure-pipelines.yml

fix(ftp) : append parameter is not taken into account by FTP storage implementation
  FluentStorage.Tests.FTP/FtpTest.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

fix(ftp): autocreate directory hierarchy if needed
  FluentStorage.FTP/FluentFtpBlobStorage.cs
  FluentStorage.Tests.FTP/FtpFixture.cs
  FluentStorage.Tests.FTP/FtpTest.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

release 5.2.1
  RELEASES.md
Due: azure-pipelines-integration.yml, azure-pipelines.yml

fix tests NS
  FluentStorage.Tests.Integration/Trio/BlobTest.cs
  FluentStorage.Tests/Messaging/LargeMessagePublishingTest.cs
  FluentStorage.Tests/Utils/ByteArrayExtensionsTest.cs
  FluentStorage.Tests/Utils/DateTimeExtensionsTest.cs
  FluentStorage.Tests/Utils/RandomGeneratorTest.cs
  FluentStorage.Tests/Utils/StringExtensionsTest.cs
  FluentStorage.Tests/Utils/TempFileTest.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

SFTP: Support for path in connection string, various bug fixes.
  .cr/personal/FavoritesList/List.xml
  FluentStorage.SFTP/ConnectionFactory.cs
  FluentStorage.SFTP/Factory.cs
  FluentStorage.SFTP/SshNetSftpBlobStorage.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

SFTP: Support for path in connection string, various bug fixes.
  .cr/personal/FavoritesList/List.xml
  FluentStorage.SFTP/SshNetSftpBlobStorage.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

FluentStorage.SFTP 5.2.2 release
  FluentStorage.SFTP/FluentStorage.SFTP.csproj
  RELEASES.md
Due: azure-pipelines-integration.yml, azure-pipelines.yml

Various bug fixes and package updates
  FluentStorage.SFTP/ConnectionFactory.cs
  FluentStorage.SFTP/FluentStorage.SFTP.csproj
  FluentStorage.SFTP/SshNetSftpBlobStorage.cs
  FluentStorage/Blobs/Files/DiskDirectoryBlobStorage.cs
  FluentStorage/FluentStorage.csproj
Due: azure-pipelines-integration.yml, azure-pipelines.yml

Corrected "LastAccessTimeUtc"
  FluentStorage/Blobs/Files/DiskDirectoryBlobStorage.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

FluentStorage 5.2.2 and FluentStorage.SFTP 5.2.3 release
  FluentStorage.SFTP/FluentStorage.SFTP.csproj
  FluentStorage/FluentStorage.csproj
  RELEASES.md
Due: azure-pipelines-integration.yml, azure-pipelines.yml

FluentStorage.Azure.Blobs 5.2.2 release
  FluentStorage.Azure.Blobs/FluentStorage.Azure.Blobs.csproj
  RELEASES.md
Due: azure-pipelines-integration.yml, azure-pipelines.yml

Fix https://github.com/robinrodricks/FluentStorage/issues/27
  FluentStorage.AWS/Blobs/AwsS3BlobStorage.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

FluentStorage.AWS 5.2.2 release
  FluentStorage.AWS/FluentStorage.AWS.csproj
  RELEASES.md
Due: azure-pipelines-integration.yml, azure-pipelines.yml

FluentStorage 5.3.0 release
  FluentStorage/FluentStorage.csproj
  RELEASES.md
Due: azure-pipelines-integration.yml, azure-pipelines.yml

FluentStorage 5.4.0 release
  FluentStorage/FluentStorage.csproj
  RELEASES.md
Due: azure-pipelines-integration.yml, azure-pipelines.yml

Remove Newtonsoft.Json from FluentStorage project
  FluentStorage/FluentStorage.csproj
Due: azure-pipelines-integration.yml, azure-pipelines.yml

New AzureServiceBus plugin with the supported package and utility methods to easy manage queues, topics and subscriptions
  FluentStorage.Azure.Messaging.ServiceBus/Converter.cs
  FluentStorage.Azure.Messaging.ServiceBus/Factory.cs
  FluentStorage.Azure.Messaging.ServiceBus/FluentStorage.Azure.Messaging.ServiceBus.csproj
  FluentStorage.Azure.Messaging.ServiceBus/Messenger/AzureServiceBusChannel.cs
  FluentStorage.Azure.Messaging.ServiceBus/Messenger/AzureServiceBusMessenger.cs
  FluentStorage.Azure.Messaging.ServiceBus/Messenger/AzureServiceBusMessengerOptions.cs
  FluentStorage.Azure.Messaging.ServiceBus/Messenger/IAzureMessagingServiceBusMessenger.cs
  FluentStorage.Azure.Messaging.ServiceBus/Messenger/TaskUtils.cs
  FluentStorage.Azure.Messaging.ServiceBus/Receivers/AzureServiceBusQueueReceiver.cs
  FluentStorage.Azure.Messaging.ServiceBus/Receivers/AzureServiceBusReceiver.cs
  FluentStorage.Azure.Messaging.ServiceBus/Receivers/AzureServiceBusTopicReceiver.cs
  FluentStorage.sln
Due: azure-pipelines-integration.yml, azure-pipelines.yml

refactor class accessor, add missing xml comments
  FluentStorage.Azure.Messaging.ServiceBus/Factory.cs
  FluentStorage.Azure.Messaging.ServiceBus/Messenger/AzureServiceBusChannel.cs
  FluentStorage.Azure.Messaging.ServiceBus/Messenger/AzureServiceBusMessenger.cs
  FluentStorage.Azure.Messaging.ServiceBus/Messenger/AzureServiceBusMessengerOptions.cs
  FluentStorage.Azure.Messaging.ServiceBus/Messenger/IAzureMessagingServiceBusMessenger.cs
  FluentStorage.Azure.Messaging.ServiceBus/Messenger/TaskUtils.cs
  FluentStorage.Azure.Messaging.ServiceBus/Receivers/AzureServiceBusReceiver.cs
  FluentStorage.Azure.Messaging.ServiceBus/Receivers/AzureServiceBusTopicReceiver.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-integration.yml: any file but: README.md
  azure-pipelines.yml: any file but: README.md, doc, .github
