Repository robinrodricks/FluentStorage: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-integration.yml, azure-pipelines.yml

azure-pipelines-integration.yml:
  pool:
    vmImage: vs2017-win2016
  steps:
  - task: gittools.gitversion.gitversion-task.GitVersion@4
    displayName: GitVersion
    inputs:
      preferBundledVersion: false
  - task: DotNetCoreCLI@2
    displayName: build
    inputs:
      projects: test/Storage.Net.Tests.Integration
      arguments: -c debug
  ...

azure-pipelines.yml:
  stages:
  - stage: Build
    jobs:
    - job: Core
      pool:
        vmImage: $(vmImage)
      steps:
      - task: petersendev.dotnet-global-tool-installer.DotnetGlobalToolInstaller.DotnetGlobalToolInstaller@0
        displayName: install housework
        inputs:
          name: housework
  ...

quick fix - jobs in reverse order
  azure-pipelines.yml
  src/Azure/Storage.Net.Microsoft.Azure.Databricks.Dbfs/JobsStorage.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

push internal feed packages from "develop" branch
  azure-pipelines.yml
Due: azure-pipelines-integration.yml, azure-pipelines.yml

call it "preview-01"
  azure-pipelines.yml
Due: azure-pipelines-integration.yml, azure-pipelines.yml

Update azure.md to add v9 note (#167)
  doc/blobs/azure.md
Due: azure-pipelines-integration.yml

moving databricks to a proper folder
  src/General/Storage.Net.Databricks/DConvert.cs
  src/General/Storage.Net.Databricks/Databricks.csproj
  src/General/Storage.Net.Databricks/DatabricksBlobStorage.cs
  src/General/Storage.Net.Databricks/DbfsStorage.cs
  src/General/Storage.Net.Databricks/Factory.cs
  src/General/Storage.Net.Databricks/IDatabricksStorage.cs
  src/General/Storage.Net.Databricks/JobsStorage.cs
  src/General/Storage.Net.Databricks/Module.cs
  src/General/Storage.Net.Databricks/SecretStorage.cs
  src/General/Storage.Net.Databricks/WorkspaceStorage.cs
  src/Storage.Net/Blobs/VirtualStorage.cs
  src/storage.sln
  test/Storage.Net.Tests.Integration/Azure/LeakyDatabricksStorageTest.cs
  test/Storage.Net.Tests.Integration/Storage.Net.Tests.Integration.csproj
Due: azure-pipelines-integration.yml, azure-pipelines.yml

virtual storage
  src/Storage.Net/Blobs/VirtualStorage.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

Default path
  azure-pipelines-infra.yml
  src/AWS/Storage.Net.Amazon.Aws/Blobs/AwsS3BlobStorage.cs
  src/Azure/Storage.Net.Microsoft.Azure.DataLake.Store/Gen1/DirectoryBrowser.cs
  src/Azure/Storage.Net.Microsoft.Azure.KeyVault/Blobs/AzureKeyVaultBlobStorageProvider.cs
  src/Azure/Storage.Net.Microsoft.Azure.Storage.Blobs/AzureBlobStorage.cs
  src/Azure/Storage.Net.Microsoft.Azure.Storage.Blobs/AzureContainerBrowser.cs
  src/Azure/Storage.Net.Microsoft.ServiceFabric/Blob/ServiceFabricReliableDictionaryBlobStorage.cs
  src/GCP/Storage.Net.Gcp.CloudStorage/Blobs/GoogleCloudStorageBlobStorage.cs
  src/General/Storage.Net.Databricks/DbfsStorage.cs
  src/General/Storage.Net.Databricks/WorkspaceStorage.cs
  src/General/Storage.Net.Ftp/FluentFtpBlobStorage.cs
  src/Storage.Net/Blobs/Blob.cs
  src/Storage.Net/Blobs/Files/DiskDirectoryBlobStorage.cs
  src/Storage.Net/Blobs/Files/ZipFileBlobStorage.cs
  src/Storage.Net/Blobs/VirtualStorage.cs
  src/Storage.Net/StoragePath.cs
  src/storage.sln
  test/Storage.Net.Tests.Integration/Trio/BlobTest.Variations.cs
  test/Storage.Net.Tests/Core/BlobTest.cs
  test/Storage.Net.Tests/Core/StoragePathTest.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

aws and gcp path adjustments
  src/AWS/Storage.Net.Amazon.Aws/Blobs/AwsS3BlobStorage.cs
  src/AWS/Storage.Net.Amazon.Aws/Blobs/AwsS3DirectoryBrowser.cs
  src/AWS/Storage.Net.Amazon.Aws/Blobs/Converter.cs
  src/GCP/Storage.Net.Gcp.CloudStorage/Blobs/GConvert.cs
  src/GCP/Storage.Net.Gcp.CloudStorage/Blobs/GoogleCloudStorageBlobStorage.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

aws s3 hanging reponse fix
  src/AWS/Storage.Net.Amazon.Aws/Blobs/AwsS3BlobStorage.cs
  src/AWS/Storage.Net.Amazon.Aws/Blobs/Converter.cs
  src/Azure/Storage.Net.Microsoft.Azure.Storage.Blobs/ExtendedSdk.cs
  src/Storage.Net/StoragePath.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

safer sas url geenration
  src/Azure/Storage.Net.Microsoft.Azure.Storage.Blobs/AzureBlobStorage.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

include last run info in job run
  azure-pipelines.yml
  src/General/Storage.Net.Databricks/JobsStorage.cs
  test/Storage.Net.Tests.Integration/ITestSettings.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

versioning
  azure-pipelines.yml
Due: azure-pipelines-integration.yml, azure-pipelines.yml

jobs
  azure-pipelines.yml
  src/General/Storage.Net.Databricks/JobsStorage.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

adjust preview feed and versions
  azure-pipelines.yml
Due: azure-pipelines-integration.yml, azure-pipelines.yml

speed up job fetch
  src/General/Storage.Net.Databricks/JobsStorage.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

add few more props
  azure-pipelines.yml
  src/General/Storage.Net.Databricks/JobsStorage.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

proeprteis
  azure-pipelines.yml
  src/General/Storage.Net.Databricks/JobsStorage.cs
  src/Storage.Net/Blobs/Blob.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

version bump
  azure-pipelines.yml
Due: azure-pipelines-integration.yml, azure-pipelines.yml

Fix the image path
  azure-pipelines.yml
  build.ini
Due: azure-pipelines-integration.yml, azure-pipelines.yml

Added support for SSO generated credentials for AWS
  src/AWS/Storage.Net.Amazon.Aws/Blobs/AwsS3BlobStorage.cs
  src/AWS/Storage.Net.Amazon.Aws/Factory.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

fIX THE PROJECT ATTRIBUTES FOR THE BUILD
  azure-pipelines.yml
  build.ini
  src/AWS/Storage.Net.Amazon.Aws/Storage.Net.Amazon.Aws.csproj
  src/Azure/Storage.Net.Microsoft.Azure.DataLake.Store/DataLakeGen1.csproj
  src/Azure/Storage.Net.Microsoft.Azure.EventHub/EventHub.csproj
  src/Azure/Storage.Net.Microsoft.Azure.KeyVault/KeyVault.csproj
  src/Azure/Storage.Net.Microsoft.Azure.ServiceBus/ServiceBus.csproj
  src/Azure/Storage.Net.Microsoft.ServiceFabric/ServiceFabric.csproj
  src/Storage.Net/Storage.Net.csproj
Due: azure-pipelines-integration.yml, azure-pipelines.yml

Fix the package image #7
  src/AWS/Storage.Net.Amazon.Aws/Storage.Net.Amazon.Aws.csproj
  src/Azure/Storage.Net.Microsoft.Azure.DataLake.Store/DataLakeGen1.csproj
  src/Azure/Storage.Net.Microsoft.Azure.EventHub/EventHub.csproj
  src/Azure/Storage.Net.Microsoft.Azure.KeyVault/KeyVault.csproj
  src/Azure/Storage.Net.Microsoft.Azure.Queues/StorageQueues.csproj
  src/Azure/Storage.Net.Microsoft.Azure.ServiceBus/ServiceBus.csproj
  src/Azure/Storage.Net.Microsoft.Azure.Storage.Blobs/Blobs.csproj
  src/Azure/Storage.Net.Microsoft.Azure.Storage.Files/Files.csproj
  src/Azure/Storage.Net.Microsoft.ServiceFabric/ServiceFabric.csproj
  src/GCP/Storage.Net.Gcp.CloudStorage/Storage.Net.Gcp.CloudStorage.csproj
  src/General/Storage.Net.Databricks/Databricks.csproj
  src/General/Storage.Net.Ftp/Storage.Net.Ftp.csproj
  src/Storage.Net/Storage.Net.csproj
  test/Storage.Net.ConsoleRunner/Storage.Net.ConsoleRunner.csproj
  test/Storage.Net.Tests.Integration/Storage.Net.Tests.Integration.csproj
  test/Storage.Net.Tests/Storage.Net.Tests.csproj
Due: azure-pipelines-integration.yml, azure-pipelines.yml

Fix the icon url
  azure-pipelines.yml
  build.ini
  src/AWS/Storage.Net.Amazon.Aws/Storage.Net.Amazon.Aws.csproj
  src/Azure/Storage.Net.Microsoft.Azure.DataLake.Store/DataLakeGen1.csproj
  src/Azure/Storage.Net.Microsoft.Azure.EventHub/EventHub.csproj
  src/Azure/Storage.Net.Microsoft.Azure.KeyVault/KeyVault.csproj
  src/Azure/Storage.Net.Microsoft.Azure.ServiceBus/ServiceBus.csproj
  src/Azure/Storage.Net.Microsoft.ServiceFabric/ServiceFabric.csproj
  src/Storage.Net/Storage.Net.csproj
  src/storage.png
Due: azure-pipelines-integration.yml, azure-pipelines.yml

Fix the package image
  azure-pipelines.yml
  build.ini
  src/Azure/Storage.Net.Microsoft.Azure.Queues/StorageQueues.csproj
  src/Azure/Storage.Net.Microsoft.Azure.Storage.Blobs/Blobs.csproj
  src/Azure/Storage.Net.Microsoft.Azure.Storage.Files/Files.csproj
  src/GCP/Storage.Net.Gcp.CloudStorage/Storage.Net.Gcp.CloudStorage.csproj
  src/General/Storage.Net.Databricks/Databricks.csproj
  src/General/Storage.Net.Ftp/Storage.Net.Ftp.csproj
  src/Storage.Net/Storage.Net.csproj
  test/Storage.Net.ConsoleRunner/Storage.Net.ConsoleRunner.csproj
  test/Storage.Net.Tests.Integration/Storage.Net.Tests.Integration.csproj
  test/Storage.Net.Tests/Storage.Net.Tests.csproj
Due: azure-pipelines-integration.yml, azure-pipelines.yml

Fix the references to the code
  src/AWS/Storage.Net.Amazon.Aws/Blobs/AwsS3BlobStorage.cs
  src/AWS/Storage.Net.Amazon.Aws/Factory.cs
Due: azure-pipelines-integration.yml, azure-pipelines.yml

v9.3.0
  azure-pipelines.yml
Due: azure-pipelines-integration.yml, azure-pipelines.yml

upgrade Azure Blob Storage package version
  src/Azure/Storage.Net.Microsoft.Azure.Storage.Blobs/Blobs.csproj
Due: azure-pipelines-integration.yml, azure-pipelines.yml

Update README.md
  README.md
Due: none

rename to FluentStorage, cleanup unwanted sections
  README.md
Due: none

cleanup, rewrite
  README.md
Due: none

add contribs
  .github/images/contributors.png
Due: azure-pipelines-integration.yml

add contributors, rm docs
  README.md
Due: none

add logo and badges
  .github/contributors.png
  .github/logo-nuget.png
  .github/logo.png
  README.md
Due: azure-pipelines-integration.yml

Path conditions:
  azure-pipelines-integration.yml: any file but: README.md
  azure-pipelines.yml: any file but: README.md, doc, .github
